#bar {
    display: none;
    padding: 5px;
    background-color: #60c03f;
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
}

.linkDaBarra {
    color: black !important;
    text-decoration: none;
}

.linkDaBarra:hover {
    color: gray !important;
    text-decoration: none;
}

#bar h4 {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

#bar .botao {
    padding-left: 0px;
    display: inline;
}

#bar .texto {
    display: block;
}

#bar .botao .icone {
    position: absolute;
    margin-top: -5px;
    margin-left: -30px;
    display: none;
}

#bar .fechar {
    float: right;
}

#bar .fechar a {
    right: 30px;
    position: absolute;
    color: #fff;
    font-size: 20px;
    opacity: 0.5;
    font-weight: bold;
    top: 10px;
    display: block;
}

#bar .fechar a:hover {
    opacity: 0.8;
}

#bar .seta {
    display: none;
}

#bar .sep {
    position: absolute;
    font-size: 42px;
    margin-top: -14px;
    opacity: 0.3;
    margin-left: 5px;
    display: none;
}

#bar .dois {
    margin-top: 15px;
}

#bar .um,
#bar .dois {
    display: block;
}

@media (min-width: 580px) {
    #bar .botao {
        display: inline;
        padding-left: 35px;
    }
    #bar .botao .icone {
        display: inline;
    }
    #bar h4 {
        font-size: 16px;
    }
    #bar .texto {
        display: inline;
    }
}

@media (min-width: 640px) {
    #bar .seta {
        display: inline;
    }
}

@media (min-width: 840px) {
    #bar .seta {
        display: inline;
    }
    #bar .sep {
        display: inline;
    }
    #bar .um,
    #bar .dois {
        display: inline;
        margin-top: 0px;
    }
    #bar .dois {
        margin-left: 27px;
    }
}

#bar > h4{
    margin-block-start: 10px;
    margin-block-end: 10px;
}