#phone-wa {
    margin-top: 10px;
}

#phone-wa .dropdown-submenu {
    position: relative;
}

#phone-wa .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

#phone-wa .dropdown-menu {
	padding: 10px 0 12px;
}

#phone-wa .dropdown-menu li {
	margin: auto 10px;
	border-left:0px;
}

#phone-wa i {
	height: auto !important;
	width: auto !important;
}

#phone-wa a {
	padding: 3px 0px;
	color: #333;
	text-align: left;
	font-weight: normal;
	font-size: 13px;
	display: inline;
}

#phone-wa li {
	text-align: left;
	min-width: 300px;
    line-height: 20px;
}

#phone-wa a strong {
	font-size: 15px;
}

#phone-wa .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

#phone-wa .fa:before {
    color:#fff;
}

#phone-wa .btn {
	padding: 5px;
    color: #fff;
    background: #00a85a;
    border: 3px solid #00a85a;
}

#phone-wa .divider {
	margin: 5px 0px !important;
}

#phone-wa span {
	text-transform: none !important;
}

#phone-wa .caret {
    color:#fff;
}

#phone-wa .dropdown-menu span:after {
    /*content: ":";*/
    }

#phone-wa .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

#phone-wa .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

#phone-wa .dropdown-submenu.pull-left {
    float: none;
}

#phone-wa .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}